@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;;
    position: relative;
}

body{

    background-color: #fff;
    height: 1000px;
}
#Body_overlay{
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0, 0, 0.5);
    z-index: 9;

}

/* Start Header */
.header{
    background-color:#fff;
    width: 100%;
    text-align: center;
    border-bottom: gray 1,5px solid;   
    
}



.menubar{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    text-align: right;

    
}
.btn-menu b{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    
}
.btn-menu button{
   
    border: none;
    background-color: #fff;
    
}
.btn-menu button:hover{
    color: #043e47;

}



.btn-login button{
    border: none;
    background-color: #fff;
}
.btn-login{
    display:flex;
    align-items: center;
}
.btn-login .pop_login{
    background: #fff;
    width: 185px;
    right: 6%;
    top: 50px;
    box-shadow: 0px 1px 4px 0px #014c8f;
    transform: scale(0);
    pointer-events: none;
    transform-origin: top;
    transition: 0.5s all;
    
}
.btn-login .popShow{
    transform: scale(1);
    pointer-events: auto;
    right: 10%; 
    top: 58px;

}
.btn-login .pop_login a{
    
    text-decoration: none;
    color: #000;
}


/* End Header */


/* Start navbar left */

.nav-left .col-left .btn-close{
    width: 20px;
    height: 20px;
    margin-right: -20px;
    position: fixed;
    top:20px;
    right: 30px;
    border: #000 solid 1.5px;
    border-radius: 50%;
}
.nav-left .col-left .btn-close:hover{
    animation: rotateAround infinite 1s linear;
    border:#0dcfed solid 2px;

}


@keyframes rotateAround{
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}
.col-left{
    align-items: left;
    text-align: start;
    background-color:#fff;
    border: #0d6efd 2px solid;
    display: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}

.nav-left .col-left ul{
    list-style: none;
    
}
.nav-left .col-left ul li a{
    text-decoration: none;
    color: #000;
    text-align: left;
}

.nav-left .col-left .navigation-block ul .active a{
    color: #0d6efd;
}

.active{
    visibility: visible;
    transform: translateX(0);
    transition: transform linear 0.3s;
}


.nav_left_contact{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 60;
}
.nav_left_social{
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
}
/* End navbar left */

.btn-menu a{
    font-size: 24px;
    text-rendering: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.h_zoom:hover img{
    transform:scale(1.2) ;
    
}







/* Start Carousel */
.slider{
    height: auto;
    width: auto;
    margin-top:76px;
    position: relative;
    display: flex;
}

.carousel-item{
   
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}
#carouselExampleDark .carousel-indicators{
    margin-right: 100px;
    justify-content: right;
}
#carouselExampleDark .carousel-indicators button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: #fff solid 2px;
    opacity: 1;
}
#carouselExampleDark .active{
    background-color: #fff !important;
}
/* End carousel */
/* Start policy */
section{
    /* background-color: #0dcfed; */
    margin: 24px 0;
    height: 87px;
    width: 100%;
}
section .swiper{
    width: 100%;
}

section .container{
    height: 100%;
    
}
section .policy_and_service{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
 
    
  
}
section .policy_and_service .content{
    display: flex;
    align-items: center;
  
        
}

section .policy_and_service .content .icon_content{
    display: block;
    padding: 5px;
}
section .policy_and_service .content .icon_content img{
    max-height: 37px;
    max-width: 50px;
    margin-right: 10px;
}
section .policy_and_service .content .text_content h3{
    font-size: 14px;
    color: #014c8f;
}
section .policy_and_service .content .text_content .title_content{
    font-size: 12px;
    color: #000;
}
/* End policy */
/* Start Banner */
.m_banner{
    height: auto;
    
}
.m_banner .container{

    height: 100%;
}
.m_banner .container .row{
 
    height: 100%;
    
}
.m_banner #col_banner1{
  
    margin-top: 25px;
    
}
#col_banner1 .lacoste_sneaker{
    height: 50%;
    width: 100%;
}
#col_banner1 .lacoste_sneaker:hover .lacoste_img a img{
    transform: scale(1.1);
}
#col_banner1 .lacoste_sneaker:hover .lacoste_title{  /*Đổi màu nền cho phần tiêu đề*/
       background-color: #014c8f;
}

#col_banner1 .lacoste_sneaker .lacoste_img a img, .puma_sneaker .puma_img img{
    width: auto !important;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    object-fit: contain;
    transition: all 0.5s;
}
#col_banner1 .lacoste_sneaker .lacoste_title,.puma_sneaker .puma_title{
    z-index: 9;
    background: rgba(0,0,0,0.7);
    padding: 7px 15px;
    pointer-events: none;
    transition: all 0.5s;
    border-radius: 10px;
    top: 10px;
    right:25px;
    text-align: right;
}
#col_banner1 .lacoste_sneaker .lacoste_title .title, .puma_sneaker .title{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;

}
#col_banner1 .lacoste_sneaker .lacoste_title span, .puma_sneaker span{
    color: #ddd;

}
#col_banner1 .puma_sneaker:hover .puma_img a img{
    transform: scale(1.1);
}
#col_banner1 .puma_sneaker:hover .puma_title{  /*Đổi màu nền cho phần tiêu đề*/
    background-color: #014c8f;
}

#col_banner2 .cole_haan_sneaker .cole_haan_img a img{
    width: auto !important;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: all 0.5s;
}
#col_banner2 .cole_haan_sneaker .cole_haan_title{
    z-index: 9;
    background: rgba(0,0,0,0.7);
    padding: 7px 15px;
    pointer-events: none;
    transition: all 0.5s;
    border-radius: 10px;
    top: -50%;
    right:20%;
    text-align: center;
}
#col_banner2 .cole_haan_sneaker .cole_haan_title h3{
    color:#fff;
    font-size:  20px;
}
#col_banner2 .cole_haan_sneaker .cole_haan_title span{
    color: #ddd;
}
#col_banner2 .cole_haan_sneaker:hover .cole_haan_img a img{
    transform: scale(1.1);
    transition: all 0.5s;
}
#col_banner2 .cole_haan_sneaker:hover .cole_haan_title{  /*Đổi màu nền cho phần tiêu đề*/
       background-color: #014c8f;
}


#col_banner3 .PK {
    height:50%;
    width: 100%;

}
#col_banner3 .PK .PK_img a img, .clother .clother_img img{
    width: auto !important;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    object-fit: contain;
    transition: all 0.5s;
}
#col_banner3 .PK .PK_title,.clother .clother_title{
    z-index: 9;
    background: rgba(0,0,0,0.7);
    padding: 7px 15px;
    pointer-events: none;
    transition: all 0.5s;
    border-radius: 10px;
    top: 10px;
    right:25px;
    text-align: right;
}
#col_banner3 .PK .PK_title .title, .clother .title{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;

}
#col_banner3 .PK .PK_title span, .clother span{
    color: #ddd;
}
#col_banner3 .PK:hover .PK_img a img{
    transform: scale(1.1);
}
#col_banner3 .PK:hover .PK_title{  /*Đổi màu nền cho phần tiêu đề*/
    background-color: #014c8f;
}

#col_banner3 .clother:hover .clother_img a img{
    transform: scale(1.1);
}
#col_banner3 .clother:hover .clother_title{  /*Đổi màu nền cho phần tiêu đề*/
    background-color: #014c8f;
}


/* End Banner */
/* start special product */
.container .special_product h2{
    font-size: 22px;
    position: relative;
    height: auto;
  
}
@media (min-width: 376px) and (max-width: 576px){
.container .special_product h2{
    font-size: 18px;
    transition: all 0.5s;
}
}

.container .special_product h2:before{
    background: #014c8f;
    content: '';
    right: 0;
    left: 0;
    position: absolute;
    top: 50%;
    height: 2px;
    display: block;
    
}

.container .special_product h2 a{
    position: relative;
    color:#fff;
    background-color: #014c8f;
    padding: 10px 25px;
    
}
.container .special_product h2:hover{
    opacity: 0.6;
    transition: all 0.5s;
}
.container .special_product section{
    height: auto;
    padding: 10px 15px;
}
.container .special_product section .product{
   transition: all 0.5s;
}
.container .special_product section .product img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.container .special_product section .product .title{
    background-color:rgba(255, 237, 237,0.4) ;
}
.container .special_product section .product .title a{
    text-decoration: none;
    color:#4c4c4c;
    font-size: 15px; 
}
.container .special_product section .product .title a:hover{
    color: #014c8f;
}
.container .special_product section .product .title p{
    color: red;
    font-size: 16px;
    font-weight: 600;
}

/* End special product */


/* Start m_about */
.m_about .container .row img{
    max-width: 100%;
    max-height: 100%;
    transition: all 0.5s linear;
    border-radius: 5%;
    opacity: 0.7;
}
.m_about .container .row img:hover{
    opacity: 1   ;
    transform:  scale(1.05);
    transition: all 0.5s linear;
}


/* End m_about */

/* Start lacoste collection */

.row .item_sale_off img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: all 0.5s linear;

}
.row .item_sale_off img:hover{
    transform: scale(1.05);
    opacity: 0.8;
    transition: all 0.5s linear;
}
.row .item_sale_off .title_sale_off{
    height: 100%;
    padding: 20% 5%;
}
.title_sale_off a{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 20px;
    font-weight: 700;
}
.title_sale_off a:hover{
    color: #014c8f;
}
.price{
    color: red;
    font-weight: 600;
}
.row .banner_collection::before{
    content: "";
    background: url(//bizweb.dktcdn.net/100/058/141/themes/832769/assets/sale-bagde.png?1632795830242) no-repeat;
    position: absolute;
    top: -5px;
    right: 8px;
    height: 90px;
    width: 90px;
    background-size: 90px;
    z-index: 3;
}

.product_collection_item img{
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.0);
    transition: all 0.5s linear;
}
.product_collection_item img:hover{
    transform: scale(1.05);
    opacity: 0.8;
    transition: all 0.5s linear;
}
.title_collection_item a{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 700;
}
.title_collection_item a:hover{
    color: #014c8f;
}
/* End lacoste collection */
 /* Start Brand sneaker */
.product_brand_sneaker img{
    max-width: 100%;
    border-radius: 5%;
    transform: scale(1.0);
    transition: all 0.5s linear;
}
.product_brand_sneaker img:hover{
    transform: scale(1.05);
    opacity: 0.8;
    transition: all 0.5s linear;
}
.product_brand_sneaker .title{
    margin: 30px 10px;
    background-color: rgba(255, 237, 237,0.4);
}
.product_brand_sneaker .title h6{
    color: #4c4c4c;
    font-size: 15px;
}
.product_brand_sneaker .title a{
    text-decoration: none;
}
.product_brand_sneaker .title a:hover h6{
    color: #014c8f;
}
 /* End Brand sneaker */



/* Start customer reviews */

.customer_reviews{
    position: relative;
    background-attachment: fixed !important;
    color: #363636;
    background-image: url(/Images/bg_customer_reviews.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/Images/bg_customer_reviews.jpg);
    height: auto;
    width: auto;
}
.customer_reviews::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}
.row .title_reviews{
    line-height: 60px;
    margin-top: -25px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    z-index: 2;
}
.row .title_reviews:before{
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 25px 30px;
    border-color: transparent transparent #d7d7d7 transparent;
    top: 0;
    left: 27%;
}
.row .title_reviews::after{
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 25px 30px;
    border-color: transparent transparent #d7d7d7 transparent;
    top: 0;
    right: 27%;
}
.title_reviews h2{
    color: #fff;
    font-size: 25px;
    background: #014c8f;
    line-height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1;
    text-transform: uppercase;
    margin: 0 30%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
@media (max-width:560px){
    .title_reviews h2{
        font-size: 17px;
        margin: 0 15%;
    }
    .row .title_reviews:before{
        left:78%;
    }
    .row .title_reviews:after{
        right:78%;
    }
}
@media (min-width:800px) and (max-width:1200px){
    .title_reviews h2{
        font-size: 17px;
        margin: 0 19%;
    }
    .row .title_reviews:before{
        left:78%;
    }
    .row .title_reviews:after{
        right:78%;
    }
}
.title_reviews h2::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 46px 0;
    border-color: transparent #014c8f transparent transparent;
    left: -15px;
    top: 0;
    position: absolute;
}
.title_reviews h2::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 17px 0 0;
    border-color: #014c8f transparent transparent transparent;
    right: -15px;
    top: 0;
    content: "";
    position: absolute;
}
.review{
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 3rem 0.6rem 1.8rem;
}
.review:hover .layer{
    top:0;
}
.review:hover .avatar-reviewer:after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s;
    animation: rotateAround 1s infinite linear;
}
.review .layer{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#014c8f, #62a0d8);
    transition: all 1s;
    z-index: -1;
}
.review .avatar-reviewer{
    max-width: 120px;
    border-radius: 50%;
    transition: all 3s;
}
.review .avatar-reviewer img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    
}
.review .avatar-reviewer:after{
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    content: '';
    position: absolute;
    border: 3px dashed #f00;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 4s;
}
.review .star i{
    color: yellow;
}
.review .name-reviewer a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.review .content-review{
    color:#fff;
    font-size: 15px;
    padding: 0 23px;
}

/* End customer reviews */


/* Start news */


.news{
    margin: 5% 5% 5% 0;
}
.news:hover .news-img img{
    opacity: 0.9   ;
    transform:  scale(1.05);
    transition: all 0.3s linear;
}
.news .news-title{
    max-width: 100%;
}
.news .news-title h3 a{
    font-size: 16px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: 700;
}
.news .news-title h3 a:hover{
    color: #014c8f;
}

/* End news */






/* Start Brand */
.container .Brand_wrap h2{
    font-size: 22px;
    position: relative;
    height: auto;
  
}
.container .Brand_wrap h2:hover{
    opacity: 0.7;
}

@media (min-width: 376px) and (max-width: 576px){
.container .Brand_wrap h2{
    font-size: 18px;
}
}

.container .Brand_wrap h2:before{
    background: #014c8f;
    content: '';
    right: 0;
    left: 0;
    position: absolute;
    top: 50%;
    height: 2px;
    display: block;
    
}

.container .Brand_wrap h2 a{
    position: relative;
    color:#fff;
    background-color: #014c8f;
    padding: 10px 25px;
    
}
.container .mySwiper_Brand .product img{
    height: 80%;
    width: 80%;
    padding: 5px;
}
/* End Brand */


























/* Start Under footer */
.under-footer{
    background-image: url(/Images/sec_store_bg.jpg);
    background-size: auto auto;
    background-repeat: no-repeat;
    width: 100;
    height: 172px;
    position: relative;
}
.under-footer h3{
    color: #fff;
}
.btn-hethongcuahang{
    background: #fff;
    color: #0d6efd;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 25px;
    height: 47px;
    width: 250px;
    cursor: pointer;

}
.btn-hethongcuahang a{
    text-decoration: none;
    color: #000;

}
.btn-hethongcuahang:hover {
    background-color: #17a2b8;
}
.btn-hethongcuahang a:hover{
    color: #fff;
}
/* End under footer */


/* Start Footer */
footer{
    background-color: #22272b;
   border-top: #17a2b8 3px solid;
    justify-content: center;
}

footer .notes{
   
    margin-left: 8%;
    background-color:#22272b;
    width: 100%;
   
    color: #fff;
}
footer .notes  a{
    color: #fff;
}
footer .notes p a:hover{
    color: #0d6efd;
}
footer .notes a:hover{
    color: #0d6efd;
}

footer .notes  .list-menu{
    list-style: none;
    color: #fff;
    margin-left: -30px;
}
footer .notes  .list-menu .li_menu a{
    text-decoration: none;
}
footer .coppyright {
    color: #fff !important;
    text-align: center;
    width: 100%;
    border-top: solid 1px rgba(255, 255,255,0.7);
}
footer .coppyright a{
    color: #fff;
    text-decoration: none;
}
footer .coppyright a:hover{
    color: #0d6efd;
}

/* End Footer */


/* responsive cho màn hình mobile */
@media screen and (max-width:566px){
    #col_banner2 .cole_haan_sneaker{
        margin-top: 70px;
    }
    #col_banner2 .cole_haan_sneaker .cole_haan_title{
        top: -40%;
        right:25%;
       
    }
    
}



